*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 10px;
}
.container{
    background-color: #c9f31d;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box_area{
    display: flex;
}
.box_area .box{
    background-color: white;
    padding: 1rem;
    border-radius: .7rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 17rem;
    margin: 0 2rem;
    height: 9rem;
}
.box_area .box i{
    font-size: 4rem;
}
.box_area .box span{
    font-size: 2rem;
    text-align: center;
}
i.fa-stack-overflow{
    color: #f48026;
}
i.fa-github{
    color: #24292e;
}
i.fa-linkedin{
    color: #0d68c3;
}
i.fa-youtube{
    color: #ff0000;
}
